*{
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
    box-sizing: border-box;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: transparent;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.box{
    width: 100%;
    height: 600px;
    padding: 40px 60px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.starter{
      min-height: 100vh;
      width: 100%;
      background-image: url(images/background-2.jpg);
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      position: relative;
}

.section-1{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/dongzhi.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.section-2{
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/dongzhi2.jpg);
background-position: center;
background-size: cover;
position: relative;
}

.section-3{
    background-image: url(images/chinesenewyear.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.section-4{
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/chinesenewyear2.jpg);
background-position: center;
background-size: cover;
position: relative;
}

.section-5{
    background-image: url(images/yuan-xiao.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.section-6{
min-height: 100vh;
width:  100%;
background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/yuanxiao2.jpg);
background-position: center;
background-size: cover;
position: relative;
}

.section-7{
    background-image: url(images/qingming.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.section-8{
min-height: 100vh;
width:  100%;
background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/qingming2.jpg);
background-position: center;
background-size: cover;
position: relative;
}
.section-9{
    background-image: url(images/duanwu.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.section-10{
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/duanwu2.jpg);
background-position: center;
background-size: cover;
position: relative;
}
.box p{
    font-size: 20px;
    margin-top: 100px;
}

.box h1{
    font-size: 50px;
    text-shadow:  0px 0px 5px #000;
}


.box h1{
    font-size: 50px;
    text-shadow:  0px 0px 5px #000;
}

.box p{
    font-size: 30px;
    
}

.title{
    width: 100%;
    top: 50%;
    padding: 40px 60px;
    color: white;
    text-align: center;
}

.title h1{
    font-size: 50px;
    text-shadow:  0px 0px 5px #000;
}

